<div class="flex flex-col items-start mb-4">
    <!-- marca v1 
        <div class="max-h-[30px] h-[30px]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="12 9 175 42" class="w-full h-full" reserveAspectRatio="xMidYMid meet">
                <line x1="30" y1="25" x2="42" y2="17" stroke="#808080" stroke-width="3"></line>
                <line x1="30" y1="35" x2="42" y2="43" stroke="#808080" stroke-width="3"></line>
                <circle cx="25" cy="30" r="10" stroke="#808080" stroke-width="3" fill="#808080"></circle>
                <circle cx="45" cy="15" r="6" fill="#808080"></circle>
                <circle cx="45" cy="45" r="6" fill="#808080"></circle><text x="60" y="38" font-family="Segoe UI, Tahoma, Geneva, Verdana, sans-serif" font-size="32" font-weight="700" fill="#222222">ziiro</text><text x="127" y="38" font-family="Segoe UI, Tahoma, Geneva, Verdana, sans-serif" font-size="32" font-weight="800" fill="#808080">crm</text>
            </svg>
        </div> 
        -->
    <button routerLink="/" class="max-h-[30px] h-[30px] cursor-pointer">
        <img src="/ziiro-marca.svg" alt="Marca" class="w-full h-full" />
    </button>
</div>