<section class="header container">
    <div class="header-content">
        <div class="logo-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="60" width="225">
                <circle cx="25" cy="30" r="10" stroke="#2F9E44" stroke-width="3" fill="#2F9E44"></circle>
                <circle cx="45" cy="15" r="6" fill="#2F9E44"></circle>
                <circle cx="45" cy="45" r="6" fill="#2F9E44"></circle>
                <line x1="30" y1="25" x2="42" y2="17" stroke="#2F9E44" stroke-width="3"></line>
                <line x1="30" y1="35" x2="42" y2="43" stroke="#2F9E44" stroke-width="3"></line><text x="70" y="38" font-family="Segoe UI, Tahoma, Geneva, Verdana, sans-serif" font-size="32" font-weight="700" fill="#2F9E44"> ziiro </text><text x="137" y="38" font-family="Segoe UI, Tahoma, Geneva, Verdana, sans-serif" font-size="32" font-weight="800" fill="#174A24"> CRM </text>
            </svg>
        </div>
        <div class="btns-wrapper">
            <button (click)="logout()" class="btn-primary">Sair</button>
        </div>
    </div>
</section>