<div class="m-auto relative flex flex-col gap-8 bg-zr-secondary-superlight w-96 rounded-lg p-6">
    <div class="relative items-start flex flex-col justify-start gap-4 text-zr-primary pb-8 border-b border-zr-secondary">
        <span class="material-symbols-outlined text-6xl!">
            door_open
        </span>
        <h1 class="text-2xl font-semibold">
            Pronto para começar?
        </h1>
    </div>
    <div class="w-full flex flex-col gap-6">
        <div class="p-4 bg-red-100 rounded-md" *ngIf="error">
            <p class="text-red-950">{{ error }}</p>
        </div>
        <form (ngSubmit)="onSubmit()" class="form-wrapper flex flex-col gap-4">
            <div class="form-group flex flex-col gap-4">
                <div class="form-field w-full relative">
                    <input class="peer w-full bg-white placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-4 pt-6 pb-3 transition duration-300 ease focus:outline-none focus:border-zr-secondary hover:border-zr-secondary" id="ff-email" type="email" [(ngModel)]="email" name="email" placeholder="" required />
                    <label class="absolute left-4 top-[18px] origin-[0] -translate-y-3 scale-75 duration-150 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75 text-sm text-slate-600" for="ff-email">Email</label>
                </div>
                <div class="form-field w-full relative">
                    <input class="peer w-full bg-white placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-4 pt-6 pb-3 transition duration-300 ease focus:outline-none focus:border-zr-secondary hover:border-zr-secondary" id="ff-password" type="password" [(ngModel)]="password" name="password" placeholder="" required />
                    <label class="absolute left-4 top-[18px] origin-[0] -translate-y-3 scale-75 duration-150 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75 text-sm text-slate-600" for="ff-password">Senha</label>
                </div>
                <div class="inline-flex items-center mt-2">
                    <label class="flex items-center cursor-pointer relative" for="check-2">
                        <input type="checkbox" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800" id="check-2" />
                        <span class="absolute text-white opacity-0 pointer-events-none peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </label>
                    <label class="cursor-pointer ml-2 text-slate-600 text-sm" for="check-2">
                        Lembrar de mim
                    </label>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn-primary w-full">Entrar</button>
            </div>
            <div class="mt-8 pt-2 border-t border-zr-secondary">
                <p class="flex justify-center mt-6 text-sm text-slate-600">
                    Sem conta?
                    <a href="#signup" class="ml-1 text-sm font-semibold text-slate-700 underline">
                        Crie uma agora
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>