<section class="max-w-[1200px] m-auto flex flex-col items-center justify-between gap-16 md:py-16 py-8 bg-blue-gray-50 h-full">
    <div class="w-full">
        <h1 class="md:text-6xl text-3xl text-zr-primary"><span class="text-zr-secondary">Organize</span> seus clientes.<br><span class="text-zr-secondary">Simplifique</span> seus atendimentos.</h1>
    </div>
    <div class="w-full text-md text-zr-primary">
        <p><strong>Chega de anotar tudo em papel, planilhas ou WhatsApp.</strong></p>
        <p>Com o ziiro, você cadastra seus clientes, registra interações e acompanha seu histórico com facilidade.</p>
    </div>
    <div class="w-full flex flex-col gap-6 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-4">
        <div class="relative flex flex-col p-4 bg-zr-secondary-superlight rounded-lg">
            <div class="mb-6 relative overflow-hidden rounded-md">
                <span class="material-symbols-outlined text-6xl! text-zr-primary">
                    partner_exchange
                </span>
            </div>
            <div class="flex flex-col gap-2 ">
                <h2 class="text-xl font-semibold text-zr-primary">
                    Clientes organizados
                </h2>
                <p class="text-zr-primary">
                    Tenha todos os dados do seu cliente em um só lugar: nome, e-mail, telefone e mais.
                </p>
            </div>
        </div>
        <div class="relative flex flex-col p-4 bg-zr-secondary-superlight rounded-lg">
            <div class="mb-6 relative overflow-hidden rounded-md">
                <span class="material-symbols-outlined text-6xl! text-zr-primary">
                    view_timeline
                </span>
            </div>
            <div class="flex flex-col gap-2 ">
                <h2 class="text-xl font-semibold text-zr-primary">
                    Histórico de atendimentos
                </h2>
                <p class="text-zr-primary">
                    Registre tudo o que foi feito, conversado ou prometido. Nunca mais esqueça um retorno.
                </p>
            </div>
        </div>
        <div class="relative flex flex-col p-4 bg-zr-secondary-superlight rounded-lg">
            <div class="mb-6 relative overflow-hidden rounded-md">
                <span class="material-symbols-outlined text-6xl! text-zr-primary">
                    devices
                </span>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-xl font-semibold text-zr-primary">
                    Acesse de onde estiver
                </h2>
                <p class="text-zr-primary">
                    Use no computador ou celular, sem precisar instalar nada.
                </p>
            </div>
        </div>
        <div class="relative flex flex-col p-4 bg-zr-secondary-superlight rounded-lg">
            <div class="mb-6 relative overflow-hidden rounded-md">
                <span class="material-symbols-outlined text-6xl! text-zr-primary">
                    admin_panel_settings
                </span>
            </div>
            <div class="flex flex-col gap-2 ">
                <h2 class="text-xl font-semibold text-zr-primary">
                    Simples e seguro
                </h2>
                <p class="text-zr-primary">
                    Seus dados protegidos com login e senha. Você no controle.
                </p>
            </div>
        </div>
    </div>
</section>