
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}

@import "tailwindcss";

@theme {
    --color-zr-primary: oklch(0.52 0.05 149.32);
    --color-zr-secondary: oklch(0.87 0.1 120.16);
    --color-zr-secondary-superlight: oklch(0.98 0.01 118.91);
    --color-gray-70: oklch(0.94 0 0);
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.btn-primary {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: var(--color-zr-primary);
    padding: .5rem 1.875rem;
    border-radius: .5rem;
    border: 0;
    outline: none;
    background-color: var(--color-zr-secondary);
    cursor: pointer;
    transition: .3s ease;
}

.btn-primary:hover {
    color: var(--color-zr-secondary);
    background-color: var(--color-zr-primary);
    transform: scale(1.025);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2), -16px -16px 32px rgba(255, 255, 255, 0.8);
    transition: .3s ease;
}

.btn-tertiary {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: var(--color-black);
    padding: .5rem 1.875rem;
    border-radius: .5rem;
    border: 1px solid var(--color-gray-200);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
}

.btn-tertiary:hover {
    background-color: var(--color-gray-200);
    transform: scale(1.025);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2), -16px -16px 32px rgba(255, 255, 255, 0.8);
    transition: .3s ease;
}

.mat-mdc-dialog-surface {
  @apply rounded-lg!;
}

// :root {
//     --color-primary: #2F9E44;
//     --color-primary-dark: #174A24;
//     --color-primary-light: #5FC26D;
//     --color-primary-lightgray: #F5F7F6;

//     --color-secondary: #FFB300;
//     --color-secondary-dark: #e7a200;

//     --color-gray-900: #121212;
//     --color-gray-800: #1E1E1E;
//     --color-gray-700: #2C2C2C;
//     --color-gray-600: #3A3A3A;
//     --color-gray-500: #4A4A4A;
//     --color-gray-400: #6B6B6B;
//     --color-gray-300: #8C8C8C;
//     --color-gray-200: #B0B0B0;
//     --color-gray-100: #D4D4D4;
//     --color-gray-50: #F5F5F5;

//     --color-black: #000000;
//     --color-white: #FFFFFF;

//     --text-default: #222222;
//     --text-heading: #222222;

//     --radius-base: 0.25rem;
//     --radius-md: 0.5rem;
//     --radius-lg: 1rem;

//     font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//         Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//         "Segoe UI Symbol";
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// * {
//     box-sizing: border-box;
// }

// body {
//     font-family: var(--font-family);
//     color: var(--text-default);
//     background-color: var(--color-primary-lightgray);
//     font-weight: 400;
//     line-height: normal;
//     margin: 0;
//     padding: 0;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: var(--font-family);
//     color: var(--color-primary-dark);
//     font-weight: 700;
//     letter-spacing: normal;
//     margin: initial;
// }

// p,
// span,
// li,
// a,
// button {
//     font-family: var(--font-family);
//     color: var(--text-default);
//     font-weight: 400;
//     margin: 0;
// }

// .w-full {
//     width: 100%;
// }

// main {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     min-height: 100vh;
//     box-sizing: border-box;
//     padding: 2rem;

// }

// .container {
//     width: 100%;
//     max-width: 1440px;
//     padding: 2rem;
// }

// .content {
//     display: flex;
//     justify-content: space-around;
//     width: 100%;
//     max-width: 1440px;
// }

// button,
// .btn-primary {
//     font-size: 1rem;
//     line-height: 1.8rem;
//     font-weight: 600;
//     padding: .5rem 1.875rem;
//     border-radius: 100rem;
//     border: 0;
//     outline: none;
//     background-color: var(--color-secondary);
//     cursor: pointer;
//     transition: .3s ease;
// }

// button:hover,
// .btn-primary:hover {
//     background-color: var(--color-secondary-dark);
//     transform: scale(1.025);
//     transition: .3s ease;
// }





// .header-content {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
// }

// .header-content div {
//     display: flex;
//     align-items: center;
// }

// .divider {
//     width: 1px;
//     background: var(--color-gray-100);
//     margin-inline: 0.5rem;
// }

// .left-side {
//     width: 50%;
// }

// .right-side {
//     width: 60%;
// }

// .left-side, .right-side {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 2rem 4rem;
// }

// .login-form {
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;
//     width: 100%;
// }

// .error-message {
//     border-radius: .25rem;
//     border: 1px solid indianred;
//     padding: .5rem 1rem;
// }

// .error-message p {
//     font-size: .875rem;
//     color:indianred
// }

// .form-base {
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;
//     width: 100%;
// }

// .form-group {
//     display: flex;
//     flex-direction: column;
//     gap: 1rem;
//     width: 100%;
//     margin-top: .75rem;
// }

// .form-field {
//     position: relative;
//     display: flex;
//     flex-direction: column;
// }

// .form-field label {
//     position: absolute;
//     top: -.75rem;
//     left: .5rem;
//     background-color: var(--color-primary-lightgray);
//     padding: 0 .5rem;
//     font-size: .875rem;
//     line-height: normal;
// }

// .form-field input {
//     font-size: 1rem;
//     line-height: normal;
//     width: 100%;
//     font-weight: 400;
//     border: 1px solid var(--color-black);
//     border-radius: var(--radius-base);
//     outline: none !important;
//     transition: .3s ease;
//     background-color: transparent;
//     padding: 1rem .75rem .75rem .75rem;
//     margin: 0;
//     box-sizing: border-box;
// }

// @media screen and (max-width: 650px) {
//     .content {
//         flex-direction: column;
//         width: 100%;
//     }

//     .left-side,
//     .right-side {
//         width: 100%;
//         padding: 2rem;
//     }

//     .divider {
//         height: 1px;
//         width: 100%;
//         margin-block: 1.5rem;
//     }
// }
