<nav class="flex w-full flex-col gap-4 text-base font-semibold text-blue-gray-700">
    <button *ngIf="!isLoggedIn()" routerLink="/login" class="group flex items-center w-full leading-tight transition-all rounded-lg outline-none text-start cursor-pointer hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
        <div class="grid mr-2 place-items-center">
            <span class="material-symbols-outlined p-2 rounded-full group-hover:bg-zr-primary group-hover:text-zr-secondary duration-300 ease-in-out">
                door_open
            </span>
        </div>
        Login
    </button>
    <button *ngIf="isLoggedIn()" routerLink="/minha-conta" class="group flex items-center w-full leading-tight transition-all rounded-lg outline-none text-start cursor-pointer hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
        <div class="grid mr-2 place-items-center">
            <span class="material-symbols-outlined p-2 rounded-full group-hover:bg-zr-primary group-hover:text-zr-secondary duration-300 ease-in-out">
                account_circle
            </span>
        </div>
        Minha conta
    </button>
    <button *ngIf="isLoggedIn()" (click)="logout()" class="group flex items-center w-full leading-tight transition-all rounded-lg outline-none text-start cursor-pointer hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
        <div class="grid mr-2 place-items-center">
            <span class="material-symbols-outlined p-2 rounded-full group-hover:bg-zr-primary group-hover:text-zr-secondary duration-300 ease-in-out">
                exit_to_app
            </span>
        </div>
        Sair
    </button>
</nav>